/* Reset - Va siempre */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container GRID*/
.container{
    display: grid;
    height: 100vh;
    grid-template-areas:    "header"
                            "nav"
                            "main"
                            "aside"
                            "footer";
}

/*header*/
.c-header{
    background-color: #202020;
    grid-area: header;
}
.c-tituloPagina{
    color: #fdd100;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

/*Barra Menu*/
.c-nav{
    grid-area: nav;
    background-color: #333533;
    display: flex;
    justify-content: space-between;
}
.c-logo{
    padding: .5rem;
    align-self: center;
}
.c-itemNav{
    display: flex;
    align-items: center;
}
.c-itemNav ul{
    display: flex;
    flex-flow: row nowrap;
}
.c-itemNav ul li{
    display: block;
    padding: 0.5rem;
}
.c-linkNav{
    text-decoration: none;
    color: #f5f5f5;
}
/*Main*/

.c-main{
    grid-area: main;
    padding: 1rem;
}
.c-main section{
    text-align: center;
}
.c-main section iframe{
    max-height: 200px;
    max-width: 350px;
    margin: 1rem;
}
.c-fotosInicio{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}
.c-fotosInicio div img{
    max-height: 500px;
    max-width: 350px;
    margin: 2rem;
}

/*Aside*/

.c-aside{
    grid-area: aside;
    padding: 1rem;
}
.c-aside p{
    text-align: center;
    padding: 2rem;
}

/*Footer*/
.c-footer{
    grid-area: footer;
    display: flex;
    flex-flow: column nowrap;
    background-color: #333533;
    align-items: center;
    padding: 1rem;
}
.c-botonArriba{
    text-decoration: none;
    color: #f5f5f5;
}
.c-derechosReservados{
    color: #f5f5f5;
    text-align: center;
    padding: .5rem;
}

/*Nosotros*/

.c-contNosotros{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.c-contNosotros div img{
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
}
.c-contNosotros div p{
    padding: 2rem;
    text-align: center;
}
.c-asideNosotros{
    text-align: center;
    padding: 2rem;
}

/*Portfolio*/

.c-contPortfolio{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.c-imgPortfolio{
    max-width: 300px;
    max-height: 500px;
    margin: 2rem;
}
.c-asidePortfolio{
    text-align: center;
    margin: 1rem;
}

/*Novedades*/

.c-contNovedades{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.c-contNovedades div{
    margin: 2rem;
}

.c-contNovedades div h3{
    text-align: center;
    margin: 1rem;
}
.c-contNovedades div p{
    text-align: center;
    margin: 1rem;
}
.c-videoNovedades1, .c-videoNovedades2, .c-videoNovedades3{
    text-align: center;
}
.c-videoNovedades1 iframe, .c-videoNovedades2 iframe, .c-videoNovedades3 iframe {
    max-height: 200px;
    max-width: 350px;
    margin: 1rem;
}

